body { 
  margin:0 auto; max-width: 700px; text-align: center;
}
div.gallery {
    float: left;
    width: 200px;
    padding: 10px;
  }
div.gallery img {
    width: 100%;
    height: auto;
  }
div.desc {
    font-size: 10px;
    padding: 8px;
    text-align: justify;
}
div.title {
    font-size: 10px;
    color:lightblue;
    text-align: left;
    padding: 8px;
}